<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1" style="float: left;">
            <br>
            <button class="save" (click)="back()">{{labels.view}}</button>
                    </div>
        <div class="col-lg-11" *ngIf="show==1" >
            <iframe  
            [src]="fileUrl" width="50%" height="500px"></iframe>

        </div>
        <div id="htmlData" class="col-lg-11" *ngIf="show==2">
           <img style="width: 27%;" src="{{fileUrl}}" >
        </div>
    </div>

    
</div>